boto3==1.16.23
botocore==1.19.23
certifi==2024.2.2; python_version >= "3.10" and python_full_version >= "3.10.10"
click==7.1.2; python_full_version >= "3.10.10"
h11==0.11.0; python_version >= "3.10" and python_full_version >= "3.10.10"
h2o-wave<1.0; python_full_version >= "3.10.10"
httpcore==0.15.0; python_version >= "3.10" and python_full_version >= "3.10.10"
httpx==0.23.0; python_version >= "3.10" and python_full_version >= "3.10.10"
idna==2.10; python_version >= "3.10" and python_full_version >= "3.10.10"
jmespath==0.10.0; python_version >= "3.10" and python_full_version >= "3.10.10"
numpy==1.26.4; python_version >= "3.10" and python_full_version >= "3.10.10"
pandas==1.5.3; python_version >= "3.10" and python_full_version >= "3.10.10"
python-dateutil==2.8.1; python_full_version >= "3.10.10"
pytz==2020.4; python_full_version >= "3.10.1"
rfc3986==1.4.0; python_version >= "3.10" and python_full_version >= "3.10.10"
s3transfer==0.3.3
six==1.15.0; python_full_version >= "3.10.10"
sniffio==1.2.0; python_version >= "3.10" and python_full_version >= "3.10.10"
starlette==0.37.1; python_version >= "3.10" and python_full_version >= "3.10.10"
typing-extensions==3.10.0; python_version >= "3.10" and python_full_version >= "3.10.10"
urllib3==1.26.18
uvicorn==0.12.3
