[flake8]
ignore = E203,E241,E265,E302,E303,E402,E701,F841,D105,D202,W503,I100,I201,I202
exclude =
    notebooks/
    data/

# You probably noticed the peculiar default line length.
# Black defaults to 88 characters per line, which happens to be 10% over 80.
# This number was found to produce significantly shorter files than sticking
# with 80 (the most popular), or even 79 (used by the standard library).
# In general, 90-ish seems like the wise choice.
max-line-length = 88
max-complexity = 18
select = B,C,E,F,W,T4,B9
import-order-style = smarkets
