numpy==1.19.1
pandas==1.1.0
plotly==4.10.0
pygments==2.7.1
h2o-wave<1.0
h2o-wave-ml>=0.7.0
requests
tabulate
colorama>=0.3.8
future
https://h2o-release.s3.amazonaws.com/h2o/rel-zizler/7/Python/h2o-3.34.0.7-py2.py3-none-any.whl


