numpy==1.19.1
pandas==1.1.0
plotly==4.10.0
pygments==2.7.1
h2o-wave==0.9.1
requests
tabulate
colorama>=0.3.8
future
matplotlib
pytest==6.1.2
pytest-mock==3.3.1
# pytest-watch==4.2.0
pytest-html==3.0.0
pytest-cov==2.10.1
http://h2o-release.s3.amazonaws.com/h2o/rel-zermelo/1/Python/h2o-3.32.0.1-py2.py3-none-any.whl
